.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 740px;
    padding-bottom: 32px;
    border: 1px solid #852400;
    box-sizing: border-box;
    margin: 50px auto;
    margin-bottom: 150px;
    font-size: 18px;
}

.formTitle {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    height: 80px;
    width: 738px;
    background-color: #FCFCFC;
}

.formSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
    height: 120px;
    margin-top: 50px;
}
  
.formInput {
    border: 1px solid #852400;
    box-sizing: border-box;
    padding: 18px 42px 18px 24px;
    width: 548px;
    height: 63px;
    background-color: #FCFCFC;
}

.formInput:hover {
    border: 1px solid #DBAC24;
}
  
.formSubmitButton {
    margin-top: 64px;
    justify-content: center;
    align-items: center;
    width: 548px;
    height: 59px;
    background: #DBAC24;
    border-style: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.formSubmitButton:hover {
    background-color: #852400;
}

.formText {
    padding: 20px;
}

.linkToRegister {
    color: #852400;
    text-decoration: none;
}

.linkToRegister:hover {
    color: #DBAC24;
}

.registerMessage {
    margin: 40px 0;
}

.headerMessageSuccess {
    color: #417505;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F0F3EE;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}

.headerMessageError {
    color: #AB944E;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F6F2E5;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}
