.heroSection {
    width: 100%;
    height: 370px;
    background-color: #852400;
    margin-bottom: 1000px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 100px;
    margin-left: 155px;
}

.image {
    height: 370px;
    width: fit-content;
    margin-right: 155px;
}